
 @import url('https://fonts.googleapis.com/css2?family=Anton&family=Work+Sans:wght@300;400;500;600;700;900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap');
:root{
  --bg-green:#27D312;
  --text-green:#1BFF00;
  --dark-green:#088A0A;
  --white:#FFFFFF;
  --green:#53F756;
  --light-green:#9aff8f;
  --black:#000000;
  --text-black:#868686;
  --shadow:#EDEDED;
  --font:'Work Sans', sans-serif;
}
*{
  margin: 0;padding: 0;
  box-sizing: border-box;

}
body{
  background-color:var(--shadow);
}
.flex{
 display: flex;
 justify-content: space-between;
 align-items: center;
}
a{
  text-decoration: none;
  color: black;
}

/* register sytyle */
.reg{
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form{
  border: 1.5px solid var(--bg-green);
  border-radius: 5px;
  width: 350px;
  padding: 50px;
  background-color: var(--white);
}
.reg-name{
  text-align: center;
  font-family: var(--font);
  font-weight: 600;
  color: var(--bg-green);
  margin: 0 0 18px 0;

}
.input{
  width: 100%;
  padding: 5px;
  margin: 5px 0 12px 0;
  outline: none;
  border-radius: 5px;
  border: 1.5px solid var(--bg-green);
}
label{
  font-family: var(--font);
  font-size: 14px;
}
.reg-btn{
  width: 100%;
  padding: 6px;
  font-family: var(--font);
  font-weight: 700;
  border: 1.5px solid var(--bg-green);
  background-color: var(--bg-green);
  margin-top: 10px;
  border-radius: 5px;
  font-size: 15px;
  color: var(--white);
}
.reg-btn:hover{
  color: var(--bg-green);
  background-color: var(--white);
}
/* navbar style */

.nav{
 background-color:var(--bg-green);
 display: flex;
 align-items: center;
 position: fixed;
 width: 100%;
 height: 55px;
}
.logo{
  color: var(--bg-green);
  padding: 3px;
  background-color: var(--white);
  font-family: 'Nosifer', sans-serif;
  margin: 0px 40px; 
}
.logo span{
  color: var(--white);
  background-color:var(--bg-green);
  padding: 3.5px 5px;
  margin-right: -3px;
}
.srh{
  border: none;
  outline: none;
  padding: 4px 35px 4px 7px;
  font-weight: 500;
  font-size: 16px;
  font-family:'Nunito', sans-serif;
  width: 40%;
 border-radius:4px;
}
.btn{
  margin-top: 3px;
  margin-left: -26px;
  margin-right: 60px;
  color:var(--bg-green);
  background-color:transparent;
  border: none;
  font-family:var(--font);
  font-weight: 700;
}
ul{
  list-style: none;
  display: flex;
  width: 30%;
  font-size: 14px;
  font-weight: 600;
  font-family: var(--font);
  justify-content: space-between;
}
li{
  cursor: pointer;
}
a:hover{
 color: var(--white);
}
.cart-icon{
  margin-left: 100px;
  position:relative;
  
}
.p{
  position: absolute;
  top: -8px;
  left: 16px;
  background-color:var(--black);
  color: var(--white);
  font-family: var(--font);
  font-size: 11px;
  font-weight: 600;
  padding: 2px 5px;
  border-radius: 50%;
}

/* slider styles */
.slider-container{
  padding-top: 80px;
  width: 100%;
}

.slider{
  width: 97%;
  height: 300px;
  margin: 5px auto;
  background-color: aqua;
  display: flex;
  align-items: center;
}
.div-img{
  width: 95%;
  height: 300px;
  background-color: #ffffff83;
}
.slider-img{
  width: 100%;
  height: 300px;
}
.slider-btn{
  padding:144px 12px;
  border: none;
  background-color: var(--white);
}

/* item styles */
.section{
 padding: 20px 0;
 width: 100%;
}
.head-box{
  margin: 5px 45px;

}
.head{
  font-family:var(--font);
  font-weight: 700;
  font-size: 20px;
}
.more{
  padding: 5px 10px;
  font-family:var(--font);
  font-weight: 600;
  border-radius: 5px;
  color: var(--bg-green);
  background-color: var(--white);
  border: 1.5px solid var(--bg-green);
}
.more:hover{
  color: var(--white);
  background-color: var(--bg-green);
}
.vvs{
  width: 97%;
  margin: 0 20px;
  overflow: hidden;
  overflow-x: scroll;
}
.vvs::-webkit-scrollbar{
  display: none;
}
.container{
  margin: 5px;
  width: 5000px;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.item{
  margin: 10px;
  width: 220px;
  height: 280px;
  background-color:var(--white);
  overflow: hidden;
  /* border: 1px solid var(--light-green); */
}
.img-container{
  width: 220px;
  height: 140px;
  margin: 15px 0;
  text-align: center;
}
.item-img{
  width: 120px;
  height: 120px;
  
}
.item-name{
  font-family:var(--font);
  font-weight: 400;
  font-size: 17px;
  margin:7px;

}
.item-qty{
  font-family:var(--font);
  color: var(--text-black);
  margin: 7px;
  font-size: 14px;

}
.contain{
  font-family:var(--font);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px;

}
.item-price{
  font-family:var(--font);
  font-weight: 600;
  font-size: 18px;

}
.add-cart{
  font-family:var(--font);
  padding: 5px 18px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 5px;
  border: 1.5px solid var(--bg-green);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:var(--bg-green);
}
.add-cart:hover{
  border: 1.5px solid var(--bg-green);
  color: var(--bg-green);
  background-color: #fff;
  padding: 5.5px 18.5px;
}
.add-cart p{
 margin-left: 4px;
}

/* cart style */
.cart-container{
  margin: 0px 20px 50px 20px;
  padding-top:80px;
  display: flex;
  
}
.cart-item{
  width: 45%;
  margin: 0 10px;
  padding: 20px 40px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.cart-box{
  width:470px;
  height: 200px;
  margin: 10px 0;
  display: flex;
  overflow: hidden;
  border: 1.5px solid var(--green);
}
.img-box{
  width: 37%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:var(--white);
}
.cart-img{
  width: 130px;
  height: 130px;
}
.cart-text{
  width: 60%;
  padding: 30px;  
}
.cart-name{
font-family:var(--font);
font-weight: 500;
font-size: 17px;
margin: 8px 0;
}
.cart-qty{
  font-family:var(--font);
  font-weight: 400;
  color: var(--text-black);
  font-size: 14px;
  margin: 8px 0;
}
.cart-price{
  font-family:var(--font);
  font-weight: 600;
  font-size: 20px;
  margin: 8px 0;
}
.cart-inde{
  width: 100%;
  margin: 20px 0;
}
.in-de{
  border: 1.5px solid var(--bg-green);
  font-weight: 700;
  
}
.one{
 border-right: 1.5px solid var(--bg-green);
 padding: 6px;
display: flex;
align-items: center;
justify-content: center;
}
.two{
  padding: 5px 15px;

}
.three{
border-left: 1.5px solid var(--bg-green);
padding: 6px;
display: flex;
align-items: center;
justify-content: center;
}
.remove{
 padding: 7px 15px;
 font-family:var(--font);
 font-weight: 600;
 font-size: 15px;
 background-color: var(--bg-green);
 border: none;
 border-radius: 5px;
}
.cart{
  margin: 0 10px;
  width: 52%;
  height: 420px;
  background-color: var(--white);
 
  display: flex;
  align-items: center;
  flex-direction: column;
}

.total{
  height: 60px;
  margin-bottom: 20px;
  padding: 0 30px;
  border: 1.5px solid var(--green);
}
.total h2{
  font-family: var(--font);
  font-size: 18px;
  font-weight: 600;
}
.total h2 span{
  font-size: 22px;
}
.checkout{
  padding: 7px 20px;
  border: 1.5px solid var(--bg-green);
  border-radius: 5px;
  background-color: var(--bg-green);
  font-family: var(--font);
  font-weight: 600;
  font-size: 16px;
}
.checkout:hover{
  border: 1.5px solid var(--bg-green);
  color: var(--bg-green);
  background-color: #fff;
}
.cart-detail{
  height: 280px;
  border: 1.5px solid var(--green);
  font-family: var(--font);
  padding: 30px;
}
.details{
  margin-top: 30px;
  width: 88%;
  height: 200px;
}
.line{
  height: 1.5px;
  background-color: var(--green);
  margin: 10px 0;
}
.detail-item{
  margin: 17px 0;
  font-size: 17px;
  font-weight: 500;
}

/* profile style */

.profile-container{
  width: 96%;
  margin: 0px auto 50px auto;
  padding-top: 80px;
  display: flex;
}
.c-pro{
  width: 40%;
}
.profile{
  width: 100%;
  height: 360px;
  background-color:var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-box{
  margin: 30px;
  width: 100%;
  height: 300px;
  background-color: #fff;
  border: 1.5px solid var(--green);
  font-family: var(--font);
}
.box-img{
  width: 94%;
  display: flex;
  border-bottom: 1.5px solid var(--bg-green);
  margin: 0 13px;
  
}
.pro-img{
  width: 100px;
  height: 100px;
  margin: 30px 40px;
  background-color:black;
  border-radius: 50%;
}
.p-info{
  margin-top: 30px;
  font-family: var(--font);
}
.p-info p{
  padding: 2px 0;
}
.pro-info{
  margin: 15px;
}

.edit{
margin: 20px 0;
}
.edit-btn{
  padding: 8px 20px;
  font-weight: 600;
  font-size: 14px;
  border: none;
  background-color: var(--bg-green);
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.edit-p{
  padding-left:10px;
}
.h3{
  margin: 2px 0;
}
.orders{
  width: 60%;
  margin-left: 20px;
  background-color: var(--white);
  padding: 30px;
}
.ord-name{
  font-family: var(--font);
  font-weight: 600;
}
.history-container{
  width: 100%;
}
.history{
  display: flex;
  align-items: center;
  font-family: var(--font);
  font-weight: 400;
  border: 1.5px solid var(--green);
  padding: 15px;
}
.h-name{
  width: 66%;
  padding-left: 20px;
}
.h-name p{
  margin: 10px 0;
}
/* category sytle */
.pad{
  padding-top: 80px;

}
.category-nav{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--white);
}
.cat-rap{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.items{
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
}
.cat-btn{
  padding: 6px 40px;
  border-radius: 5px;

  border: 1.5px solid var(--bg-green);
  background-color: var(--bg-green);
  color: var(--black);
  font-family: var(--font);
  font-weight: 600;
  font-size: 15px;
}
.cat-btn:hover{
  background-color: #fff;
  color: var(--bg-green);
}

/* footer style */

.footer{
  padding: 0 20px;
  height: 100px;
  background-color: var(--light-green);
  font-family: var(--font);
}
.link{
  width: 110px;
}

/* invoice style */
#invoice{
  width: 500px;
  margin:50px auto 20px auto;
  padding: 30px;
  border: 1px solid black;
  background-color: var(--white);
}
.in-name{
  font-weight: bold;
  font-size: 28px;
  font-family: var(--font);
}
.bar-img{
  width: 120px;
}
.user{
  padding: 10px 0;
  font-family: var(--font);
}
.user h4{
  padding: 2px 0;
  font-weight:500;
}
.det{
  padding: 7px 0;
  font-family: var(--font);
  font-weight:600;
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;
}
.down{
  font-family: var(--font);
  font-weight: 700;
  font-size: 15px;
  padding: 7px 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--bg-green);
  color: var(--white);
  box-shadow: 3px 3px 5px rgb(208, 207, 207);
}
tr{
  font-family: var(--font);
  font-size: 12px;
}
.td{
  padding: 5px 36px;
  font-family: var(--font);
}
.space{
  height: 100px;
}
.small{
  margin: 0 80px;
  font-size: 10px;
  font-family: var(--font);
}
.download{
  padding: 0 20px;
  width: 500px;
  height: 60px;
  margin:0 auto 30px auto;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font);
}

/* profile edit style */
#pro-edit{
 background-color: var(--white);
 width: 100%;
margin: 10px 0;
 padding: 20px;
}
#pro-edit h3{
  font-family: var(--font);
  font-weight: 600;
  text-align: center;
  padding: 20px 0;
  color: var(--bg-green);
}
#pro-edit label{
  margin-left: 46px;
  font-family: var(--font);  
}
.pinput{
  width: 80%;
  padding: 8px 5px;
  margin: 8px 45px;
  outline: none;
  border-radius: 5px;
  border: 1.5px solid var(--bg-green);
}
.hinput{
  width: 45%;
  padding:8px 5px;
  margin: 8px 5px;
  outline: none;
  border-radius: 5px;
  border: 1.5px solid var(--bg-green);
}
.p-flex{
  display: flex;
  justify-content: space-between;
  width: 82.3%;
  margin:0 40px;
}
.b-flex{
  display: flex;
  justify-content: space-between;
  width: 82.3%;
  margin:0 40px;
  padding: 10px 5px;
}
.e-btn{
  width: 170px;
  padding: 7px 0;
  text-align: center;
  border: none;
  color: var(--white);
  background-color: var(--bg-green);
  font-family: var(--font);
  font-weight: 600;
  border-radius: 5px;
}

/* model style */
.a{
  display: block;
  width: 100%;
  height: 552px;
   position: fixed;
   top:0;
   background-color:rgba(83, 241, 83, 0.749);
}
.model{
  display: none;
 
 }
 .m-con{
  background-color: white;
  width: 300px;
  height: 100px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 15%;
  margin-left: 37%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.m-btn{
  padding: 7px 30px;
  font-weight: bold;
  background-color: green;
  border: none;
}

@media (max-width:360px) {
  ul{
    display: none;
  }
 /*mobile nav style*/
  .nav{
    background-color:var(--bg-green);
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 45px;
   }
   .logo{
     font-family: 'Nosifer', sans-serif;
     margin: 8px 15px;
     font-size: 17px;
   }
   .srh{
     border: none;
     outline: none;
     padding: 4px 35px 4px 7px;
     font-weight: 500;
     font-size: 16px;
     width: 50%;
     font-family:'Nunito', sans-serif;
    border-radius:4px;
   }
   .btn{
     margin-top: 3px;
     margin-left: -26px;
     margin-right: 26px;
     color:var(--bg-green);
     background-color:transparent;
     border: none;
     font-family:var(--font);
     font-weight: 700;
   }
   
   .cart-icon{
    margin-top: 10px;
    margin-left: 0;
     position:relative;
     
   }
   
  /*mobile cart style*/
  
.total{
  height: 60px;
  margin-bottom: 20px;
  padding: 0 15px;
  border: 1.5px solid var(--green);
}
.total h2{
  font-family: var(--font);
  font-size: 14px;
  font-weight: 600;
}
.total h2 span{
  font-size: 17px;
}
.checkout{
  padding: 5px 15px;
  border: 1.5px solid var(--bg-green);
  border-radius: 5px;
  background-color: var(--bg-green);
  font-family: var(--font);
  font-weight: 600;
  font-size: 14px;
}
.checkout:hover{
  border: 1.5px solid var(--bg-green);
  color: var(--bg-green);
  background-color: #fff;
}
.cart-detail{
  height: 230px;
  border: 1.5px solid var(--green);
  font-family: var(--font);
  padding: 20px;
}
.heading{
  font-size: 17px;
}
.details{
  margin-top: 30px;
  width: 88%;
  height: 200px;
}
.line{
  height: 1.5px;
  background-color: var(--green);
  margin: 10px 0;
}
.detail-item{
  margin: 17px 0;
  font-size: 14px;
  font-weight: 500;
}
  .cart-container{
    display: block;
  }
  .cart{
    width: 100%;
    height: 360px;
    margin: 10px 2px;
  }
  .cart-box{
    width:300px;
    height: 150px;
    margin: 5px 0 0 0;
    display: flex;
    overflow: hidden;
    border: 1.5px solid var(--green);
  }
  .cart-item{
    width: 100%;
    margin: 0px;
    padding: 10px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .img-box{
    width: 35%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--white);
  }
  .cart-img{
    width: 80px;
    height: 80px;
  }
  .cart-text{
    width: 65%;
    padding: 20px;  
  }
  .cart-name{
  font-family:var(--font);
  font-weight: 500;
  font-size: 14px;
  margin: 5px 0;
  }
  .cart-qty{
    font-family:var(--font);
    font-weight: 400;
    color: var(--text-black);
    font-size: 12px;
    margin: 5px 0;
  }
  .cart-price{
    font-family:var(--font);
    font-weight: 600;
    font-size: 17px;
    margin: 5px 0;
  }
  .cart-inde{
    width: 100%;
    margin: 15px 0;
  }
  .in-de{
    border: 1.5px solid var(--bg-green);
    font-weight: 700;
    
  }
  .one{
   border-right: 1.5px solid var(--bg-green);
   padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .two{
    padding: 2px 10px;
  
  }
  .three{
  border-left: 1.5px solid var(--bg-green);
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .remove{
   padding: 5px 10px;
   font-family:var(--font);
   font-weight: 600;
   font-size: 12px;
   background-color: var(--bg-green);
   border: none;
   border-radius: 5px;
  }

  /* mobile categort style*/
  .item{
    margin: 5px;
    width: 160px;
    height: 240px;
    background-color:var(--white);
    overflow: hidden;
    /* border: 1px solid var(--light-green); */
  }
  .img-container{
    width: 160px;
    height: 120px;
    margin: 15px 0;
    text-align: center;
  }
  .item-img{
    width: 100px;
    height: 100px;
    
  }
  .item-name{
    font-family:var(--font);
    font-weight: 400;
    font-size: 15px;
    margin:7px;
  
  }
  .item-qty{
    font-family:var(--font);
    color: var(--text-black);
    margin: 7px;
    font-size: 13px;
  
  }
  .contain{
    font-family:var(--font);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
  
  }
  .item-price{
    font-family:var(--font);
    font-weight: 600;
    font-size: 16px;
  
  }
  .add-cart{
    font-family:var(--font);
    padding: 5px 14px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
    border: 1.5px solid var(--bg-green);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--bg-green);
  }

 /*mobile category style*/
 .category-nav{
  width: 360px;
  overflow: hidden;
  overflow-x: scroll;
  height: 60px;
  background-color: var(--white);
}
.cat-rap{
  width: 650px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--white);
}

.cat-btn{
  padding: 5px 7px;
  border-radius: 5px;
  border: 1.5px solid var(--bg-green);
  background-color: var(--bg-green);
  color: var(--black);
  font-family: var(--font);
  font-weight: 600;
  font-size: 11px;
}

/* mobile profile edit */
#pro-edit{
  background-color: var(--shadow);
  width: 100%;
 margin: 10px 0;
  padding: 20px;
 }
 #pro-edit h3{
   font-family: var(--font);
   font-weight: 600;
   text-align: center;
   padding: 20px 0;
   color: var(--bg-green);
 }
 #pro-edit label{
   margin-left: 46px;
   font-family: var(--font);  
 }
 .pinput{
   width: 80%;
   padding: 8px 5px;
   margin: 8px 30px;
   outline: none;
   border-radius: 5px;
   border: 1.5px solid var(--bg-green);
 }
 .hinput{
   width: 45%;
   padding:8px 5px;
   margin: 8px 5px;
   outline: none;
   border-radius: 5px;
   border: 1.5px solid var(--bg-green);
 }
 .p-flex{
   display: flex;
   justify-content: space-between;
   width: 82.3%;
   margin:0 25px;
 }
 .b-flex{
   display: flex;
   justify-content: space-between;
   width: 82.3%;
   margin:0 25px;
   padding: 10px 5px;
 }

 .e-btn{
   width: 100px;
   padding: 7px 0;
   text-align: center;
   border: none;
   color: var(--white);
   background-color: var(--bg-green);
   font-family: var(--font);
   font-weight: 600;
   border-radius: 5px;
 }
 .profile-container{
  width: 96%;
  margin: 0px auto 50px auto;
  padding-top: 80px;
  display: block;
}
.c-pro{
  width: 100%;
}
.profile{
  width: 100%;
  height: 360px;
  background-color:var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-box{
  margin: 30px;
  width: 100%;
  height: 300px;
  background-color: #fff;
  border: 1.5px solid var(--green);
  font-family: var(--font);
}
.box-img{
  width: 94%;
  display: flex;
  border-bottom: 1.5px solid var(--bg-green);
  margin: 0 13px;
  
}
.pro-img{
  width: 100px;
  height: 100px;
  margin: 30px 40px;
  background-color:black;
  border-radius: 50%;
}
.p-info{
  margin-top: 30px;
  font-family: var(--font);
}
.p-info p{
  padding: 2px 0;
}
.pro-info{
  margin: 15px;
}

.edit{
margin: 20px 0;
}
.edit-btn{
  padding: 8px 20px;
  font-weight: 600;
  font-size: 14px;
  border: none;
  background-color: var(--bg-green);
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.edit-p{
  padding-left:10px;
}
.h3{
  margin: 2px 0;
}
.orders{
  width: 100%;
  margin-left: 0;
  background-color: var(--white);
  padding: 20px;
}
.ord-name{
  font-family: var(--font);
  font-weight: 600;
}
.history-container{
  width: 100%;
}
.history{
  display: flex;
  align-items: center;
  font-family: var(--font);
  font-weight: 400;
  border: 1.5px solid var(--green);
  padding: 15px;
}
.item-img{
  width: 80px;
  height: 80px;
}
.h-name{
  width: 47%;
  font-size: 15px;
}
.h-name p{
  margin: 10px 0;
  font-size: 12px;
}
}
